@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&family=Montserrat:ital@1&display=swap');
html,body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size:55px;
    text-align: center;
    }
    
figcaption{
        font-style: italic;
        font-size: small;
        text-align: center;
    }
/* header-section */
.steve-heading{
    font-family: 'Lemonada', cursive;
}

.bg-stevejobs{
    position: relative;
    width:100%;
    height: 100%;
}
.bg-text{
    position: absolute !important;
    top:50% !important;
    left:25% !important;
    color: white;
    padding-top:3%;
    display:inline;
}
 .bg-text h1{
    font-size:60px !important;
    font-weight: 600;
}
.bg-text p{
text-align: center;
}
/* personal life section */
.personal-life-text{
    padding-top: 3%;
}
.personal-life-img{
    position: relative;
    width: 70%;
}
.personal-life{
    background-color:lightgray;
    padding: 5% 10%;
}
/* education-section */
.education-section{
   padding-top:2%;
   padding-right:8%;
   padding-left:8%;
   padding-bottom: -2%;
    background-color: black;
    color: white;
}
.education{
padding-top:3%;
}
.education-text{
    padding-top:5%;
    margin-right:-10px;
}
/* life at apple section */
.apple{
    margin-top: -5px;
}
.apple-section{
    padding: 5% 6%;
    background-color: black;
    color: white;
}
.apple-first-text{
    padding-top:9%;
}
.steve-subhead{
    font-family: 'Lemonada', cursive ;
}
/* battle with cancer section */
.battle-heading{
    padding-bottom:3%;
}
.battle{
    padding:5% 10% ;
    background-color:lightgray;
}
.battle-image{
    width:98%;
}
.tri-image{
    position: relative;
    top:10%;
    bottom:20%;
    left:45%;
     width:10% !important;
     border-radius: 100%;
}
/* footer */
footer{
    background-color: black;
    color: white;
    padding-top:2%;
    padding:2%;
}
footer p{
    text-align: center;
}
.last-words{
    padding:5% 8%;
    background-color: black;
    color: white;
    position: relative;
}
@media only screen and (min-width:350px){
.last-words-heading{
    font-size: 20px;
    text-align: center;
}
.tri-image{
    width: 15%;
    text-align: center;
}
.images{
    width: 100%;
}
.last-words-heading{
    font-size: 16px;
}
.bg-text{ 
    position: absolute !important ;
    top: 10% !important;
    left:8% !important;
}
.bg-text h1{
    font-size:25px !important;
}
.steve-heading{
    font-size: 20px !important;
}
.steve-subhead{
    font-size:18px;
}
}
@media only screen and (min-width:768px){
    .bg-text{
        position: absolute !important;
        top:10% !important;
        left:5% !important;
        color: white;
        display:inline;
    }
     .bg-text h1{
        font-size:60px !important;
        font-weight: 600;
    }
    .bg-text p{
    text-align: center;
}
}
